GOOGLE_CLOUD_PROJECT=
FIRESTORE_COLLECTION_PREFIX=hopenet
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
GEMINI_USE_VERTEXAI=false
VERTEX_PROJECT_ID=
VERTEX_LOCATION=us-central1
VERTEX_ENDPOINT_ID=
VERTEX_USE_LOCAL_MODEL=false
